<!-- <p>App Component</p> -->
<!-- <app-header></app-header> -->
<!-- <div class="container">
  <img src={{imgUrl}}> 
  <p class="mt-3">Counter: {{ count }}</p>
  <button type="button" class="btn btn-primary btn-lg me-3" (click)="temp()">
    Click Me
  </button>
  
  
  <div class="input-group  mt-3">
    <span class="input-group-text">Firstname</span>
    <input
      type="text"
      aria-label="First name"
      class="form-control"
      value="{{ fillfield }}"
      />
    </div>
  </div> -->

<!-- <div class="container-sm">
    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputFname" class="form-label">Firstname</label>
        <input type="text" class="form-control" id="fname" name="fname" #fname />
      </div>
      <div class="col-md-6">
        <label for="inputLname" class="form-label">Lastname</label>
        <input type="text" class="form-control" id="lname" name="lname" #lname />
      </div>
      
      <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="show(fname.value, lname.value)">
          Sign in
      </button>
    </div>
  </form>
  <p class="mt-3">{{ content }}</p>
</div> -->

<!-- <app-coffee-header></app-coffee-header>
<app-coffee-carousel></app-coffee-carousel>
<app-coffee-footer></app-coffee-footer> -->

<!-- <div class="container-sm">
    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputFname" class="form-label">Firstname</label>
        <input type="text" class="form-control" name="fname" [(ngModel)]="fname" />
      </div>
      <div class="col-md-6">
        <label for="inputLname" class="form-label">Lastname</label>
        <input type="text" class="form-control" name="lname" [(ngModel)]="lname" />
      </div>
      
      <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="show()">
          Sign in
        </button>
    </div>
  </form>
  <p class="mt-3">{{ content}}</p>
</div> -->

<!-- <div class="container-sm">
  <form class="row g-3">
    <div class="col-md-12">
      <label for="inputFname" class="form-label">Input</label>
      <input type="text" class="form-control" name="ginput" [(ngModel)]="ginput" />
    </div>
  </form>
  <p class="mt-3" *ngIf="ginput%2==0">Even</p>
  <p class="mt-3" *ngIf="ginput%2!=0">Odd</p>
</div> -->

<!-- <div class="container">
  <div *ngFor="let name of stringName; let i = index">
    <div *ngIf="i%2!=0">
      <p>{{ name }}</p>
    </div>
  </div>
</div> -->

<!-- <app-coffee-header></app-coffee-header> -->

<!-- <app-header></app-header> -->

<!-- <div class="container">
  <p [ngClass]="item > 10 ? 'red' : 'blue'">{{ item }}</p>
  <div *ngFor="let i of array">
    <p [ngClass]="i % 2 == 0 ? 'red' : 'blue'">{{ i }}</p>
  </div>

  <form class="row g-3">
    <div class="col-md-12">
      <input type="text" class="form-control" value="Enable Disable text." [ngClass]="classValue"/>
    </div>
    
    <div class="row mt-3">
      <div class="col">
        <button type="button" class="btn btn-success" style="width: 100%;" (click)="enable()">Enable</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-danger" style="width: 100%" (click)="disable()">Disable</button>
      </div>
    </div>
  </form>
</div> -->

<!-- <div [ngStyle]="{ color: 'red' }"></div> -->

<!-- <div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Button</th>
      </tr>
    </thead>

    <tr *ngFor="let user of data; let i = index" [ngClass]="i % 2 == 0 ? 'red' : 'blue'" [ngStyle]="hideData">
      <td>{{ data[i].id }}</td>
      <td>{{ data[i].name }}</td>
      <td>{{ data[i].username }}</td>
      <td>{{ data[i].email }}</td>
      <button type="button" class="btn btn-danger" (click)="disable()">Hide</button>
    </tr>
  </table>
</div> -->

<!-- <app-products></app-products> -->

<!-- {{ getDate }}
<br>
{{ getStudent }} -->

<!-- <app-get-data-component></app-get-data-component> -->
<!-- <app-set-data-component></app-set-data-component> -->

<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-reactive-address-form></app-reactive-address-form> -->

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of recData; let i = index">
        <th>{{ recData[i].id }}</th>
        <th>{{ recData[i].name }}</th>
        <th>{{ recData[i].username }}</th>
        <th>{{ recData[i].email }}</th>
      </tr>
    </tbody>
  </table>
</div>
